<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset = "UTF-8">
        <title>Furum</title>
        {% load static %}
        {% load django_bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>

        <nav class="navbar sticky-top shadow-lg bg-success">
            <div class="d-flex py-1 px-5">
                <a class="link-light text-decoration-none fs-3 fw-bold" href = "/furum/">Furum</a>
            </div>
                <div class="position-absolute end-0 translate-middle mt-4">
                    {%if request.user.is_authenticated %}
                    <a href="{% url 'logout' %}" class="link-light text-decoration-none fs-5 fw-bold">Logout</a>
                {%else%}
                    <a href="{% url 'login' %}" class="link-light text-decoration-none fs-5 fw-bold">Login</a>
                {%endif%}
                </div>
        </nav>
        <div class="mb-5">
            <main>
                {% block content %}
                {% endblock %}
            </main>
        </div>
        <footer class="fixed-bottom">
            <div class="d-flex justify-content-center py-1 bg-success bg-gradient">
                <p class="fs-5 fw-bold">Footer placeholder</p>
            </div>
        </footer>

    </body>
</html>