{% extends "furumapp/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-3 d-flex flex-column justify-content-center">
        {%if request.user.is_authenticated %}
           <div class="mb-4">
                <form method="POST">
                    {% csrf_token %}
                    <p class="fs-3 fw-bold">Create post</p>
                    {{form.as_p}}
                    <input type="submit" value="Post" />
                </form>
            </div>
        {%endif%}
        {% if posts %}
            {% for post in posts %}
                <div class="d-flex flex-column align-items-start mb-2 border">
                    <a class="w-100 link-dark text-decoration-none px-5" href="/furum/post/{{ post.id }}/">
                        <p class="fs-2 fw-bold">{{ post.title }}</p>
                        <p class="">Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
                        <p class="fw-bold">{{ post.comment_count }} comments</p>
                    </a>
                    {%if request.user == post.user %}
                        <form action="{% url 'post_delete' topic post.id %}" method="post">
                            {% csrf_token %}
                            <input type="submit" value="Delete">
                        </form>
                    {%endif%}
                </div>
            {% endfor %}
    {% else %}
        <p class="fs-3">No posts in this topic.</p>
    {% endif %}
        </div>
{% endblock %}