{% extends "furumapp/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 d-flex flex-column justify-content-center">

        <!-- Post info - title, poster, posting time, text -->
        <div class="px-5 py-3 d-flex flex-column shadow">
            <div class="d-flex justify-content-between">
                <p class="fs-2 fw-bold">{{ post.title }}</p>
                <p class="">Posted by {{ post.user }} on {{ post.timestamp }}</p>
            </div>
            <div class="d-flex">
                <p class="fs-5">{{ post.text }}</p>
            </div>
        </div>

        <!-- Comment form, only visible when user is logged in -->
         {%if request.user.is_authenticated %}
                <div class="my-5">
                    <form method="POST">
                        {% csrf_token %}
                        <textarea class="form-control mt-3 py-3 w-100 d-inline" type="text" name="comment_text" placeholder="Add comment" aria-label="Add comment"></textarea>
                        <div class="d-flex justify-content-end">
                            <input class="btn btn-success" type="submit" value="Post comment" />
                        </div>
                    </form>
                </div>
        {%endif%}

        <!-- Comments -->
        {% if comments %}
                {% for comment in comments %}
                <div class="d-flex justify-content-between my-2 py-2 px-5 border rounded-3">
                    <div class="d-flex flex-column">
                            <p class="fs-5 fw-bold my-0">{{ comment.user.username }}</p>
                            <p class="my-0">Posted on {{ comment.timestamp }}</p>
                            <p class="fw-bold">{{ comment.text }}</p>
                    </div>
                    {%if request.user == comment.user %}
                        <div class="d-flex align-items-center">
                            <form action="{% url 'comment_delete' post.id comment.id %}" method="post">
                                {% csrf_token %}
                                <input class="btn btn-danger" type="submit" value="Delete">
                            </form>
                        </div>
                    {%endif%}
                </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}