{% extends "furumapp/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 d-flex flex-column justify-content-center">
        {%if request.user.is_authenticated %}
           <div>
                <form method="POST" novalidate>
                    {% csrf_token %}
                    <h2>Create post</h2>
                    {{form.as_p}}
                    <input type="submit" value="Post" />
                </form>
            </div>
        {%endif%}
        {% if posts %}
            {% for post in posts %}
                <div class="d-flex flex-column align-items-center pb-4 mb-2">
                    <a class="w-25 link-dark text-decoration-none" href="/furum/post/{{ post.id }}/">
                        <p class="fs-2 fw-bold">{{ post.title }}</p>
                        <p class="fs-5 fw-bold">{{ post.user.username }}</p>
                        <p class="fs-5 fw-bold">{{ post.timestamp }}</p>
                        <p class="fs-5 fw-bold">{{ post.comment_count }} comments</p>
                    </a>
                </div>
            {% endfor %}
    {% else %}
        <p class="fs-3">No posts in this topic.</p>
    {% endif %}
        </div>
{% endblock %}