{% extends 'furumapp/base.html' %}

{% block content %}

<div class="container m-5 d-flex justify-content-around">
	<div class="bg-secondary p-5 rounded-3">
		<p class="fs-3 fw-bold">placeholder for fun image</p>
	</div>
	<div class="d-flex flex-column align-items-center shadow p-5 rounded-3">
		<div>
			<p class="fs-1 fw-bold">Sign up</p>
		</div>
		<div class="">
			<form method="POST">
				{% csrf_token %}
				{% for field, error in form.errors.items %}
					<div class="alert alert-danger my-3 p-1" role="alert">
						{{ error|striptags }}
					</div>
				{% endfor %}
				<div>
					{{form.username}}
				</div>
				<div>
					{{form.email}}
				</div>
				<div>
					{{form.password1}}
				</div>
				<div>
					{{form.password2}}
				</div>
				<div class="d-flex justify-content-center">
					<input class="btn btn-success my-3 flex-fill" type="submit" value="Register" />
				</div>
			</form>
		</div>
	</div>
<div>

{% endblock content %}