{% extends "furumapp/base.html" %}

{% block content %}

    {% if query %}
        <div>
            <p class="fs-1 fw-bold m-3">Search results for: {{ query }}</p>
            <div>
            <!-- check if there is a result in the database-->
            {% if posts %}
                <!-- loop through search query if there is a result -->
                {% for post in posts %}
                    <div class="mb-3 border shadow w-100">
                        <a class="link-dark text-decoration-none" href="/furum/post/{{ post.id }}/">
                            <div class="d-flex align-items-center">
                            {%if post.image %}
                                <div class="mx-4">
                                    <img src="{{post.image.url}}" width="200">
                                </div>
                            {%endif%}
                            <div class="d-flex container flex-column">
                                <p class="fs-2 fw-bold">{{ post.title }}</p>
                                <p class="">Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
                                <p class="fw-bold">{{ post.comment_count }} comments</p>
                            </div>
                            </div>
                        </a>
                    </div>
                {% endfor %}
                <!-- return a message if there are no results found. -->
            {% else %}
                <h3>No search results found</h3>
            {% endif %}
            </div>
        </div>
    {% else %}
        <h1>Please enter a search query</h1>
    {% endif %}

{% endblock content %}