{% extends "furumapp/base.html" %}
{% load static %}

{% block content %}
    <div class="container mt-5 p-4">
                <p class="fs-2 fw-bold">Welcome, chatterpillar</p>
    </div>
    <div class="container d-flex flex-row flex-wrap">
        {% if topics %}
                {% for topic in topics %}
                    <div class="card bg-warning m-2 py-4" style="width: 19rem;">
                          <div class="card-body d-flex flex-column align-items-center">
                                <a href="/furum/posts/{{ topic.slug }}" class="link-dark text-center text-decoration-none fs-5 fw-bold my-2 stretched-link">{{ topic.topic }}</a>
                                <p class="card-text">{{ topic.post_count }} posts</p>
                          </div>
                    </div>
                {% endfor %}
        {% endif %}
    </div>
{% endblock %}