{% extends "furumapp/base.html" %}
{% load static %}


{% block content %}
    <div class="container mt-3 d-flex flex-column justify-content-center">
        {%if request.user.is_authenticated %}
           <div class="mb-4 w-50">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p class="fs-2 fw-bold">Add post</p>

                    {% for field in form %}
                        <div class="form-group{% if field.errors %} has-error{% endif %}">
                            {% for error in field.errors %}
                                <div class="alert alert-danger my-3 p-1" role="alert">
						            {{ error|striptags }}
					            </div>
                            {% endfor %}

                            {{ field }}

                        </div>
                    {% endfor %}

                    <input class="btn btn-warning " type="submit" value="Post" />
                </form>
            </div>
        {%endif%}
        {% if posts %}
        <div class="d-flex flex-column-reverse">
            {% for post in posts %}
                <div class="d-flex flex-column mb-2 py-2 border rounded-3">
                    <a class="d-flex link-dark text-decoration-none px-3" href="/furum/post/{{ post.id }}/">
                        <div class="d-flex flex-grow-1 align-items-center">
                            {%if post.image %}
                                <div class="d-flex">
                                    <img src="{{post.image.url}}" width="80">
                                </div>
                            {%endif%}
                            <div class="d-flex container flex-column">
                                <div>
                                    <p class="my-0 fs-4 fw-bold">{{ post.title }}</p>
                                </div>
                                <div>
                                    <p class="my-0">Posted by {{ post.user.username }} on {{ post.timestamp }}</p>
                                </div>
                                <div>
                                    <p class="fw-bold">{{ post.comment_count }} comments</p>
                                </div>
                            </div>

                        </div>
                        {%if request.user == post.user %}
                        <div class="d-flex justify-content-end align-items-center mx-4">
                            <form action="{% url 'post_delete' topic post.id %}" method="post">
                                {% csrf_token %}
                                <input type="submit" value="Delete" class="btn btn-danger btn-sm ">
                            </form>
                        </div>
                        {%endif%}
                    </a>
                </div>
            {% endfor %}
    {% else %}
        <p class="fs-3">No posts in this topic.</p>
        </div>
    {% endif %}
    </div>
{% endblock %}